node_modules
dist
esm
.DS_Store
*.tsbuildinfo
.ultra.cache.json
coverage
__image_snapshots__
Shotcut
Shotcut.app
*.zip
*.dmg
dist

.DS_Store
node_modules
*.mp4
*.jpg
*.wav
*.mp3
*.mov
*.flv
!src/fixtures/*
.meltica
*.exe
zig-out
.zig-cache
.cache
result
*.xz
